<?xml version="1.0"?>
<config>
    <modules>
        <Quafzi_ConfirmMassactions>
            <version>1.1.0</version>
        </Quafzi_ConfirmMassactions>
    </modules>
    <global>
        <models>
            <quafzi_confirmmassactions>
                <class>Quafzi_ConfirmMassactions_Model</class>
            </quafzi_confirmmassactions>
        </models>
        <helpers>
            <quafzi_confirmmassactions>
                <class>Quafzi_ConfirmMassactions_Helper</class>
            </quafzi_confirmmassactions>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <!-- unfortunately, there is no specific event for massaction blocks -->
                <observers>
                    <spinport_checkout_view_order>
                        <type>singleton</type>
                        <class>quafzi_confirmmassactions/observer</class>
                        <method>blockToHtmlBefore</method>
                    </spinport_checkout_view_order>
                </observers>
            </core_block_abstract_to_html_before>
        </events>
        <translate>
            <modules>
                <Quafzi_ConfirmMassactions>
                    <files>
                        <default>Quafzi_ConfirmMassactions.csv</default>
                    </files>
                </Quafzi_ConfirmMassactions>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <admin>
            <quafzi_confirmmassactions>
                <triggers>cancel,delete</triggers>
            </quafzi_confirmmassactions>
        </admin>
    </default>
</config>
