<?xml version="1.0" encoding="utf-8"?>
<config>
    <sections>
        <admin>
            <groups>
                <quafzi_confirmmassactions translate="label" module="quafzi_confirmmassactions">
                    <label>Massaction Confirmation Options</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <triggers translate="label comment" module="quafzi_confirmmassactions">
                            <label>Triggers for massactions</label>
                            <comment>Separate by comma</comment>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </triggers>
                    </fields>
                </quafzi_confirmmassactions>
            </groups>
        </admin>
    </sections>
</config>
